<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
		<dict>
	<key>StageList</key>
<array>
	<dict>
		<key>ReturnTimes</key>
		<real>50</real>
		<key>NumberOfPokers</key>
		<real>1</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>1</real>
		<key>MinClearTImes</key>
		<real>1</real>
		<key>EnemyID</key>
		<real>1</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>45</real>
		<key>NumberOfPokers</key>
		<real>1</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>2</real>
		<key>MinClearTImes</key>
		<real>1</real>
		<key>EnemyID</key>
		<real>2</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>40</real>
		<key>NumberOfPokers</key>
		<real>1</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>3</real>
		<key>MinClearTImes</key>
		<real>1</real>
		<key>EnemyID</key>
		<real>3</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>35</real>
		<key>NumberOfPokers</key>
		<real>1</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>4</real>
		<key>MinClearTImes</key>
		<real>1</real>
		<key>EnemyID</key>
		<real>4</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>30</real>
		<key>NumberOfPokers</key>
		<real>1</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>5</real>
		<key>MinClearTImes</key>
		<real>1</real>
		<key>EnemyID</key>
		<real>5</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>25</real>
		<key>NumberOfPokers</key>
		<real>1</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>6</real>
		<key>MinClearTImes</key>
		<real>1</real>
		<key>EnemyID</key>
		<real>6</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>20</real>
		<key>NumberOfPokers</key>
		<real>1</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>7</real>
		<key>MinClearTImes</key>
		<real>1</real>
		<key>EnemyID</key>
		<real>7</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>15</real>
		<key>NumberOfPokers</key>
		<real>1</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>8</real>
		<key>MinClearTImes</key>
		<real>1</real>
		<key>EnemyID</key>
		<real>8</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>10</real>
		<key>NumberOfPokers</key>
		<real>1</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>9</real>
		<key>MinClearTImes</key>
		<real>1</real>
		<key>EnemyID</key>
		<real>9</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>8</real>
		<key>NumberOfPokers</key>
		<real>1</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>10</real>
		<key>MinClearTImes</key>
		<real>1</real>
		<key>EnemyID</key>
		<real>10</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>50</real>
		<key>NumberOfPokers</key>
		<real>1</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>11</real>
		<key>MinClearTImes</key>
		<real>2</real>
		<key>EnemyID</key>
		<real>11</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>45</real>
		<key>NumberOfPokers</key>
		<real>1</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>12</real>
		<key>MinClearTImes</key>
		<real>2</real>
		<key>EnemyID</key>
		<real>12</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>40</real>
		<key>NumberOfPokers</key>
		<real>1</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>13</real>
		<key>MinClearTImes</key>
		<real>2</real>
		<key>EnemyID</key>
		<real>13</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>35</real>
		<key>NumberOfPokers</key>
		<real>1</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>14</real>
		<key>MinClearTImes</key>
		<real>2</real>
		<key>EnemyID</key>
		<real>14</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>30</real>
		<key>NumberOfPokers</key>
		<real>1</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>15</real>
		<key>MinClearTImes</key>
		<real>2</real>
		<key>EnemyID</key>
		<real>15</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>25</real>
		<key>NumberOfPokers</key>
		<real>1</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>16</real>
		<key>MinClearTImes</key>
		<real>2</real>
		<key>EnemyID</key>
		<real>16</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>20</real>
		<key>NumberOfPokers</key>
		<real>1</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>17</real>
		<key>MinClearTImes</key>
		<real>2</real>
		<key>EnemyID</key>
		<real>17</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>15</real>
		<key>NumberOfPokers</key>
		<real>1</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>18</real>
		<key>MinClearTImes</key>
		<real>2</real>
		<key>EnemyID</key>
		<real>18</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>10</real>
		<key>NumberOfPokers</key>
		<real>1</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>19</real>
		<key>MinClearTImes</key>
		<real>2</real>
		<key>EnemyID</key>
		<real>19</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>8</real>
		<key>NumberOfPokers</key>
		<real>1</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>20</real>
		<key>MinClearTImes</key>
		<real>2</real>
		<key>EnemyID</key>
		<real>20</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>5</real>
		<key>NumberOfPokers</key>
		<real>1</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>21</real>
		<key>MinClearTImes</key>
		<real>1</real>
		<key>EnemyID</key>
		<real>21</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>50</real>
		<key>NumberOfPokers</key>
		<real>2</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>22</real>
		<key>MinClearTImes</key>
		<real>1</real>
		<key>EnemyID</key>
		<real>22</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>45</real>
		<key>NumberOfPokers</key>
		<real>2</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>23</real>
		<key>MinClearTImes</key>
		<real>1</real>
		<key>EnemyID</key>
		<real>23</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>40</real>
		<key>NumberOfPokers</key>
		<real>2</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>24</real>
		<key>MinClearTImes</key>
		<real>1</real>
		<key>EnemyID</key>
		<real>24</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>35</real>
		<key>NumberOfPokers</key>
		<real>2</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>25</real>
		<key>MinClearTImes</key>
		<real>1</real>
		<key>EnemyID</key>
		<real>25</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>30</real>
		<key>NumberOfPokers</key>
		<real>2</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>26</real>
		<key>MinClearTImes</key>
		<real>1</real>
		<key>EnemyID</key>
		<real>26</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>25</real>
		<key>NumberOfPokers</key>
		<real>2</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>27</real>
		<key>MinClearTImes</key>
		<real>1</real>
		<key>EnemyID</key>
		<real>27</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>20</real>
		<key>NumberOfPokers</key>
		<real>2</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>28</real>
		<key>MinClearTImes</key>
		<real>1</real>
		<key>EnemyID</key>
		<real>28</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>15</real>
		<key>NumberOfPokers</key>
		<real>2</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>29</real>
		<key>MinClearTImes</key>
		<real>1</real>
		<key>EnemyID</key>
		<real>29</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>10</real>
		<key>NumberOfPokers</key>
		<real>2</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>30</real>
		<key>MinClearTImes</key>
		<real>1</real>
		<key>EnemyID</key>
		<real>30</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>8</real>
		<key>NumberOfPokers</key>
		<real>2</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>31</real>
		<key>MinClearTImes</key>
		<real>1</real>
		<key>EnemyID</key>
		<real>31</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>50</real>
		<key>NumberOfPokers</key>
		<real>3</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>32</real>
		<key>MinClearTImes</key>
		<real>1</real>
		<key>EnemyID</key>
		<real>32</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>45</real>
		<key>NumberOfPokers</key>
		<real>3</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>33</real>
		<key>MinClearTImes</key>
		<real>1</real>
		<key>EnemyID</key>
		<real>33</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>40</real>
		<key>NumberOfPokers</key>
		<real>3</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>34</real>
		<key>MinClearTImes</key>
		<real>1</real>
		<key>EnemyID</key>
		<real>34</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>35</real>
		<key>NumberOfPokers</key>
		<real>3</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>35</real>
		<key>MinClearTImes</key>
		<real>1</real>
		<key>EnemyID</key>
		<real>35</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>30</real>
		<key>NumberOfPokers</key>
		<real>3</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>36</real>
		<key>MinClearTImes</key>
		<real>1</real>
		<key>EnemyID</key>
		<real>36</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>25</real>
		<key>NumberOfPokers</key>
		<real>3</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>37</real>
		<key>MinClearTImes</key>
		<real>1</real>
		<key>EnemyID</key>
		<real>37</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>20</real>
		<key>NumberOfPokers</key>
		<real>3</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>38</real>
		<key>MinClearTImes</key>
		<real>1</real>
		<key>EnemyID</key>
		<real>38</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>15</real>
		<key>NumberOfPokers</key>
		<real>3</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>39</real>
		<key>MinClearTImes</key>
		<real>1</real>
		<key>EnemyID</key>
		<real>39</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>50</real>
		<key>NumberOfPokers</key>
		<real>2</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>40</real>
		<key>MinClearTImes</key>
		<real>2</real>
		<key>EnemyID</key>
		<real>40</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>45</real>
		<key>NumberOfPokers</key>
		<real>2</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>41</real>
		<key>MinClearTImes</key>
		<real>2</real>
		<key>EnemyID</key>
		<real>41</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>40</real>
		<key>NumberOfPokers</key>
		<real>2</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>42</real>
		<key>MinClearTImes</key>
		<real>2</real>
		<key>EnemyID</key>
		<real>42</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>35</real>
		<key>NumberOfPokers</key>
		<real>2</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>43</real>
		<key>MinClearTImes</key>
		<real>2</real>
		<key>EnemyID</key>
		<real>43</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>30</real>
		<key>NumberOfPokers</key>
		<real>2</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>44</real>
		<key>MinClearTImes</key>
		<real>2</real>
		<key>EnemyID</key>
		<real>44</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>25</real>
		<key>NumberOfPokers</key>
		<real>2</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>45</real>
		<key>MinClearTImes</key>
		<real>2</real>
		<key>EnemyID</key>
		<real>45</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>20</real>
		<key>NumberOfPokers</key>
		<real>2</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>46</real>
		<key>MinClearTImes</key>
		<real>2</real>
		<key>EnemyID</key>
		<real>46</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>15</real>
		<key>NumberOfPokers</key>
		<real>2</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>47</real>
		<key>MinClearTImes</key>
		<real>2</real>
		<key>EnemyID</key>
		<real>47</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>10</real>
		<key>NumberOfPokers</key>
		<real>2</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>48</real>
		<key>MinClearTImes</key>
		<real>2</real>
		<key>EnemyID</key>
		<real>48</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>8</real>
		<key>NumberOfPokers</key>
		<real>2</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>49</real>
		<key>MinClearTImes</key>
		<real>2</real>
		<key>EnemyID</key>
		<real>49</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>10</real>
		<key>NumberOfPokers</key>
		<real>3</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>50</real>
		<key>MinClearTImes</key>
		<real>1</real>
		<key>EnemyID</key>
		<real>50</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>8</real>
		<key>NumberOfPokers</key>
		<real>3</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>51</real>
		<key>MinClearTImes</key>
		<real>1</real>
		<key>EnemyID</key>
		<real>51</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>5</real>
		<key>NumberOfPokers</key>
		<real>1</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>52</real>
		<key>MinClearTImes</key>
		<real>2</real>
		<key>EnemyID</key>
		<real>52</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>30</real>
		<key>NumberOfPokers</key>
		<real>1</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>53</real>
		<key>MinClearTImes</key>
		<real>3</real>
		<key>EnemyID</key>
		<real>53</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>25</real>
		<key>NumberOfPokers</key>
		<real>1</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>54</real>
		<key>MinClearTImes</key>
		<real>3</real>
		<key>EnemyID</key>
		<real>54</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>50</real>
		<key>NumberOfPokers</key>
		<real>3</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>55</real>
		<key>MinClearTImes</key>
		<real>2</real>
		<key>EnemyID</key>
		<real>55</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>45</real>
		<key>NumberOfPokers</key>
		<real>3</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>56</real>
		<key>MinClearTImes</key>
		<real>2</real>
		<key>EnemyID</key>
		<real>56</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>40</real>
		<key>NumberOfPokers</key>
		<real>3</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>57</real>
		<key>MinClearTImes</key>
		<real>2</real>
		<key>EnemyID</key>
		<real>57</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>35</real>
		<key>NumberOfPokers</key>
		<real>3</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>58</real>
		<key>MinClearTImes</key>
		<real>2</real>
		<key>EnemyID</key>
		<real>58</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>30</real>
		<key>NumberOfPokers</key>
		<real>3</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>59</real>
		<key>MinClearTImes</key>
		<real>2</real>
		<key>EnemyID</key>
		<real>59</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>25</real>
		<key>NumberOfPokers</key>
		<real>3</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>60</real>
		<key>MinClearTImes</key>
		<real>2</real>
		<key>EnemyID</key>
		<real>60</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>20</real>
		<key>NumberOfPokers</key>
		<real>3</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>61</real>
		<key>MinClearTImes</key>
		<real>2</real>
		<key>EnemyID</key>
		<real>61</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>15</real>
		<key>NumberOfPokers</key>
		<real>3</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>62</real>
		<key>MinClearTImes</key>
		<real>2</real>
		<key>EnemyID</key>
		<real>62</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>3</real>
		<key>NumberOfPokers</key>
		<real>1</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>63</real>
		<key>MinClearTImes</key>
		<real>1</real>
		<key>EnemyID</key>
		<real>63</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>5</real>
		<key>NumberOfPokers</key>
		<real>2</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>64</real>
		<key>MinClearTImes</key>
		<real>1</real>
		<key>EnemyID</key>
		<real>64</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>3</real>
		<key>NumberOfPokers</key>
		<real>2</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>65</real>
		<key>MinClearTImes</key>
		<real>1</real>
		<key>EnemyID</key>
		<real>65</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>8</real>
		<key>NumberOfPokers</key>
		<real>3</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>66</real>
		<key>MinClearTImes</key>
		<real>1</real>
		<key>EnemyID</key>
		<real>66</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>30</real>
		<key>NumberOfPokers</key>
		<real>4</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>67</real>
		<key>MinClearTImes</key>
		<real>1</real>
		<key>EnemyID</key>
		<real>67</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>25</real>
		<key>NumberOfPokers</key>
		<real>4</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>68</real>
		<key>MinClearTImes</key>
		<real>1</real>
		<key>EnemyID</key>
		<real>68</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>20</real>
		<key>NumberOfPokers</key>
		<real>4</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>69</real>
		<key>MinClearTImes</key>
		<real>1</real>
		<key>EnemyID</key>
		<real>69</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>15</real>
		<key>NumberOfPokers</key>
		<real>4</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>70</real>
		<key>MinClearTImes</key>
		<real>1</real>
		<key>EnemyID</key>
		<real>70</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>10</real>
		<key>NumberOfPokers</key>
		<real>4</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>71</real>
		<key>MinClearTImes</key>
		<real>1</real>
		<key>EnemyID</key>
		<real>71</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>8</real>
		<key>NumberOfPokers</key>
		<real>4</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>72</real>
		<key>MinClearTImes</key>
		<real>1</real>
		<key>EnemyID</key>
		<real>72</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>3</real>
		<key>NumberOfPokers</key>
		<real>1</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>73</real>
		<key>MinClearTImes</key>
		<real>2</real>
		<key>EnemyID</key>
		<real>73</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>5</real>
		<key>NumberOfPokers</key>
		<real>2</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>74</real>
		<key>MinClearTImes</key>
		<real>2</real>
		<key>EnemyID</key>
		<real>74</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>3</real>
		<key>NumberOfPokers</key>
		<real>2</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>75</real>
		<key>MinClearTImes</key>
		<real>2</real>
		<key>EnemyID</key>
		<real>75</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>5</real>
		<key>NumberOfPokers</key>
		<real>3</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>76</real>
		<key>MinClearTImes</key>
		<real>1</real>
		<key>EnemyID</key>
		<real>76</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>8</real>
		<key>NumberOfPokers</key>
		<real>3</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>77</real>
		<key>MinClearTImes</key>
		<real>2</real>
		<key>EnemyID</key>
		<real>77</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>3</real>
		<key>NumberOfPokers</key>
		<real>3</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>78</real>
		<key>MinClearTImes</key>
		<real>1</real>
		<key>EnemyID</key>
		<real>78</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>20</real>
		<key>NumberOfPokers</key>
		<real>1</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>79</real>
		<key>MinClearTImes</key>
		<real>3</real>
		<key>EnemyID</key>
		<real>79</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>15</real>
		<key>NumberOfPokers</key>
		<real>1</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>80</real>
		<key>MinClearTImes</key>
		<real>3</real>
		<key>EnemyID</key>
		<real>80</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>10</real>
		<key>NumberOfPokers</key>
		<real>1</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>81</real>
		<key>MinClearTImes</key>
		<real>3</real>
		<key>EnemyID</key>
		<real>81</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>20</real>
		<key>NumberOfPokers</key>
		<real>2</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>82</real>
		<key>MinClearTImes</key>
		<real>3</real>
		<key>EnemyID</key>
		<real>82</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>15</real>
		<key>NumberOfPokers</key>
		<real>2</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>83</real>
		<key>MinClearTImes</key>
		<real>3</real>
		<key>EnemyID</key>
		<real>83</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>10</real>
		<key>NumberOfPokers</key>
		<real>2</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>84</real>
		<key>MinClearTImes</key>
		<real>3</real>
		<key>EnemyID</key>
		<real>84</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>5</real>
		<key>NumberOfPokers</key>
		<real>3</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>85</real>
		<key>MinClearTImes</key>
		<real>1</real>
		<key>EnemyID</key>
		<real>85</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>3</real>
		<key>NumberOfPokers</key>
		<real>3</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>86</real>
		<key>MinClearTImes</key>
		<real>1</real>
		<key>EnemyID</key>
		<real>86</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>5</real>
		<key>NumberOfPokers</key>
		<real>3</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>87</real>
		<key>MinClearTImes</key>
		<real>2</real>
		<key>EnemyID</key>
		<real>87</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>3</real>
		<key>NumberOfPokers</key>
		<real>3</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>88</real>
		<key>MinClearTImes</key>
		<real>2</real>
		<key>EnemyID</key>
		<real>88</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>30</real>
		<key>NumberOfPokers</key>
		<real>4</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>89</real>
		<key>MinClearTImes</key>
		<real>2</real>
		<key>EnemyID</key>
		<real>89</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>25</real>
		<key>NumberOfPokers</key>
		<real>4</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>90</real>
		<key>MinClearTImes</key>
		<real>2</real>
		<key>EnemyID</key>
		<real>90</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>20</real>
		<key>NumberOfPokers</key>
		<real>4</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>91</real>
		<key>MinClearTImes</key>
		<real>2</real>
		<key>EnemyID</key>
		<real>91</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>15</real>
		<key>NumberOfPokers</key>
		<real>4</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>92</real>
		<key>MinClearTImes</key>
		<real>2</real>
		<key>EnemyID</key>
		<real>92</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>10</real>
		<key>NumberOfPokers</key>
		<real>4</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>93</real>
		<key>MinClearTImes</key>
		<real>2</real>
		<key>EnemyID</key>
		<real>93</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>8</real>
		<key>NumberOfPokers</key>
		<real>4</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>94</real>
		<key>MinClearTImes</key>
		<real>2</real>
		<key>EnemyID</key>
		<real>94</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>20</real>
		<key>NumberOfPokers</key>
		<real>5</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>95</real>
		<key>MinClearTImes</key>
		<real>1</real>
		<key>EnemyID</key>
		<real>95</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>15</real>
		<key>NumberOfPokers</key>
		<real>5</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>96</real>
		<key>MinClearTImes</key>
		<real>1</real>
		<key>EnemyID</key>
		<real>96</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>10</real>
		<key>NumberOfPokers</key>
		<real>5</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>97</real>
		<key>MinClearTImes</key>
		<real>1</real>
		<key>EnemyID</key>
		<real>97</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>8</real>
		<key>NumberOfPokers</key>
		<real>5</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>98</real>
		<key>MinClearTImes</key>
		<real>1</real>
		<key>EnemyID</key>
		<real>98</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>5</real>
		<key>NumberOfPokers</key>
		<real>5</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>99</real>
		<key>MinClearTImes</key>
		<real>1</real>
		<key>EnemyID</key>
		<real>99</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>5</real>
		<key>NumberOfPokers</key>
		<real>1</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>100</real>
		<key>MinClearTImes</key>
		<real>4</real>
		<key>EnemyID</key>
		<real>100</real>
	</dict>
	<dict>
		<key>ReturnTimes</key>
		<real>5</real>
		<key>NumberOfPokers</key>
		<real>5</real>
		<key>StageName</key>
		<string>書類選考を突破せよ！</string>
		<key>StageID</key>
		<real>101</real>
		<key>MinClearTImes</key>
		<real>2</real>
		<key>EnemyID</key>
		<real>101</real>
	</dict>
</array>
</dict>
</plist>
