<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Contents</key>
	<array>
		<string>東野　幹男（ひがしの　みきお）
男　２２歳

身長１７５cm
体重６５kg

東都大学　経済学部卒
実家で　父　母　姉の４人暮らし

性格：明るく何事にも前向き
座右の銘：日進月歩
趣味：料理　お笑い</string>
		<string>日本でも誰もが知るお菓子を生み出すのが夢。
コンビニスイーツなどに目が無
く、暇さえあれば菓子を食べて
いるが、太らない。

そんな男のサクセスストーリー
がはじまろうとしている・・・</string>
	</array>
</dict>
</plist>
